
// Breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 980px;
$breakpoint-xl: 1240px;

//variables
$background-menu-header-nav: #373c3f;
$background-menu-header-img:#202529;

/* background-bannert-gradient: #19b4c6
 #078aa4 */
$background-files: #27212c;
$background-go-files: #bc3183;
$background-go-galery: #5b0fa1;
$background-last-seccion: #ebebeb;

//textos

//menu
$texto-menu: #ffffff;
$texto-menu-movil: #fefdfd;

//texto slider
$header-banner: #ffffff;
$subtitulo-banner: #acd8e1;


$texto-files: #4f4558;
$header-last-seccion: #088ca5;

