$size2: 75vw;
.content {
    float: left;
    width: 100px;
    height: 100px;
}
#primero{
    background-color: #e9c72f;   
}
#segundo{
    background-color:	#945d14;
}
#tercero{
    background-color:	#78bb3a;
}
#cuarto{
    background-color:	#3249ad;
}
#quinto{
    background-color:	#a62fb6;
}